<li class="product product--item products__item">
    <a class="product__inner" href="{{ url_for('main.product', product_id=product.id) }}" title="Посмотреть статистику">
        <div class="product__header">
            <div class="product__title">
                {{ product.name }} <span class="product__weight">{{ product.weight or '' }}</span>
            </div>

            <div class="product__price">
                ↑&nbsp;↓{{ product.price|pretty_price }}&nbsp;₽
            </div>
        </div>

        <div class="product__body">
            <div class="product__description">
                {{ product.description|safe }}
            </div>
        </div>

        <div class="product__thumbnail">
            <img class="product__preview" src="{{ product.get_image_url(450, 300) }}" alt="">
        </div>
    </a>
</li>