<li class="product product--item products__item">
    <a class="product__inner" href="{{ url_for('main.product', product_id=product.id) }}" title="Посмотреть статистику">
        <div class="product__header">
            <div class="product__title">
                {{ product.name }} {% if product.weight %}<span class="product__weight">{{ product.weight }}&nbsp;г</span>{% endif %}
            </div>

            <div class="product__pricing product__pricing--{% if product.price_dropped is none %}no-history{% elif product.price_dropped %}dropped{% else %}risen{% endif %}">
                {{ product.price|pretty_price }} ₽
            </div>
        </div>

        <div class="product__body">
            <div class="product__description">
                {{ product.description|safe }}
            </div>
        </div>

        <div class="product__thumbnail">
            <img class="product__preview" src="{{ product.get_image_url(450, 300) }}" alt="">
        </div>
    </a>
</li>