{% extends 'content.html' %}


{% block title %}
    {{ product.name }} – {{ super() }}
{% endblock %}


{% block content %}
    <div class="product product--detail content__product">
        <div class="product__image">
            <img src="{{ product.get_image_url(450, 300) }}" alt="" width="450" height="300">
        </div>

        <div class="product__info">
            <div class="product__title product__line">
                {{ product.name }}
            </div>

            {% if product.description %}
                <div class="product__description product__line">
                    {{ product.description|safe }}
                </div>
            {% endif %}

            <div class="product__extra product__line">
                Город: {{ product.restaurant.city.name }}
            </div>

            <div class="product__extra product__line">
                Ресторан: {{ product.restaurant.name }}
            </div>

            {% if product.weight %}
                <div class="product__weight product__line">
                    Вес: {{ product.weight }}
                </div>
            {% endif %}

            <div class="product__pricing">
                Текущая цена: {{ product.price|pretty_price }}&nbsp;₽
            </div>
        </div>
    </div>

    <div class="chart">
        <canvas
            id="chart"
            width="300"
            height="300"
            data-labels='{{ chart["labels"] }}'
            data-values='{{ chart["values"] }}'
        ></canvas>
    </div>





    <script>
        const $chart = document.getElementById("chart");
    
        const labels = JSON.parse($chart.dataset.labels);
        const values = JSON.parse($chart.dataset.values);
    
        const chart = new Chart($chart, {
            type: "line",
            options: {
                maintainAspectRatio: false,
            },
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "История цен",
                        backgroundColor: "rgb(255, 99, 132)",
                        borderColor: "rgb(255, 99, 132)",
                        data: values,
                    },
                ],
            },
        });
    </script>
{% endblock %}